<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title>Orbited Chat Test</title>

  <%= javascript_include_tag :defaults %>
  <%= orbited_javascript %>
  <%= stomp_connect('hello') %>

	<style type="text/css" media="screen">
	  * {
	    font-family: Georgia;
	  }
	  a {
	    color: #000;
	    text-decoration: none;
	  }
	  a:hover {
	    text-decoration: underline;
	  }
	  div.bordered {
	    margin: 0 auto;
	    padding: 20px;
	    border: 10px solid #ddd;
	    -webkit-border-radius: 20px;
	  }
	  div#chat_window {
	    overflow-y: scroll;
	    height: 400px;
			padding:10px;
	  }
	  div#chat_window ul {
	    list-style: none;
	    padding: 0;
	    margin: 0;
	    text-align: left;
	  }
	  div#chat_window li {
	    line-height: 20px;
	  }
	  div#chat_window li span.user {
	    color: #ff9900;
	  }
	  div#chat_window li span.user.self {
	    color: #aa2211;
	  }
	  div#chat_window li span.time {
	    float: right;
	    margin-right: 5px;
	    color: #aaa;
	    font-family: "Courier New";
	    font-size: 12px;
	  }
	  div#chat_window li.control {
	    text-align: center;
	  }
	  div#chat_window li.control span.message {
	    color: #aaa;
	  }
	  .input {
	    padding:5px;
	    -webkit-border-radius: 3px;
	    font-size: 1.2em;
	  }
	</style>

</head>
<body> 

  <%= yield %>

</body>
</html>
